*.xml
/backend/target/*
backend/target/classes/com/branddashboard/repository/UserRepository.class
backend/target/classes/com/branddashboard/repository/BrandRepository.class
backend/target/classes/com/branddashboard/model/User.class
backend/target/classes/com/branddashboard/model/Brand.class
backend/target/classes/com/branddashboard/dto/RedashEmbedUrlResponse.class
backend/target/classes/com/branddashboard/dto/MetricsSummary.class
backend/target/classes/com/branddashboard/dto/AuthResponse.class
backend/target/classes/com/branddashboard/dto/AuthRequest.class
backend/target/classes/com/branddashboard/controller/UserController.class
backend/target/classes/com/branddashboard/controller/ReportController.class
backend/target/classes/com/branddashboard/controller/MetricsController.class
backend/target/classes/com/branddashboard/controller/BrandController.class
backend/target/classes/com/branddashboard/controller/AuthController.class
backend/target/classes/com/branddashboard/config/util/JwtUtil.class
backend/target/classes/com/branddashboard/config/service/UserDetailsServiceImpl.class
backend/target/classes/com/branddashboard/config/SecurityConfig.class
backend/target/classes/com/branddashboard/config/filter/JwtRequestFilter.class
backend/target/classes/com/branddashboard/config/data/DataLoader.class
backend/target/classes/com/branddashboard/BrandDashboardBackendApplication.class
*.class
